<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32000">
	<setting label="32031" type="bool" id="firstrun" default="true" visible="false"/>
    <setting label="32033" type="enum" id="SUBSCRIPTION_TYPE" values="Free offer (Telstra ID)|Free offer (mobile network)|Paid subscription" default="0" />
	<setting label="32020" type="text" id="LIVE_USERNAME" default="" enable="lt(-1, 1)"/>
    <setting label="32030" type="text" id="LIVE_PASSWORD" option="hidden" enable="lt(-2, 1)" default=""/>
    <setting label="32021" type="text" id="PAID_USERNAME" default="" enable="gt(-3, 1)"/>
    <setting label="32022" type="text" id="PAID_PASSWORD" option="hidden" enable="gt(-4, 1)" default=""/>
    <setting label="32002" type="lsep"/>
    <setting label="32032" type="action" action="RunPlugin(plugin://plugin.video.soccer-live/?action=clearticket)"/>
  </category>
  <category label="32001">
	<setting label="32035" type="action" action="RunPlugin(plugin://plugin.video.soccer-live/?action=open_ia_settings)" option="close"/>
  </category> 
</settings>